@media screen and (max-width: 991px) {

  .container {
    max-width: 100%;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;

    flex-wrap: wrap;
    padding-top: 0 !important;

    .left, .right {

      margin-left 0 !important;
      max-width 100% !important;
      margin-top 17px;
      width 100% !important;


      .nav-b {

        .el-breadcrumb {
          font-size 15px !important;
        }
      }

      .time {
        //flex 1 !important;

        span {
          text-align right !important;
        }

        span:first-child {
          display none;
        }
      }
    }

  }

  .index {
    .header {
      height: auto !important;
      padding-bottom: 20px;
      position: relative;
      z-index: 100000;

      //.container {
      //max-width: 100%;
      //width: 100%;
      //padding-right: 15px;
      //padding-left: 15px;
      //margin-right: auto;
      //margin-left: auto;

      .logo {
        padding-top: 20px;
        float: none !important;
        width: 100% !important;


        img {
          width: 100% !important;
        }
      }

      .search-box {
        position: absolute !important;
        bottom: -43px;
        margin: 0;
        left: 15px;
        float: none !important;

        .linkbox {
          display: none;
        }
      }

      //}


    }


    .nav {
      height: 50px;
      position: relative;


      .menu-button {
        display: block !important;

      }


    }


    .bottom {


      .bottom-info {
        //margin-bottom: 0;
        padding 20px 0 !important;
        text-align center;

        .footer-p {
          width 100%;
          //margin 0;
        }

        .ewm {
          margin 5px 0 !important;
          width 100%;

          li {
            width 45%;
          }
        }


        .icp {
          margin-top 5px !important;

          a {
            font-size 18px !important;
          }
        }

      }
    }
  }

  .home {

    .body {
      .news {
        .news-title {
          font-size: 24px !important;
          margin 20px 0;
        }

        .news-content {
          flex-wrap: wrap;

          .news-card {
            width 100% !important;

            .img {
              margin: 0 auto;
              max-width: 410px;
            }
          }
        }
      }

      .notice {
        flex-wrap wrap;
        border none !important;

        .notice-card {
          margin-bottom 5px;
          border 1px solid #e4e7ed;
          width: 100% !important;


          .title {
            margin 10px 0;
          }
        }
      }
    }

    .link {
      .container {
        img {
          width 100px;
        }


        .friends-list {
          width: 86%;
          margin-top: -8px;
          float right;

          li {
            height: 16px !important;
            line-height: 16px !important;


            a {
              font-size 16px !important;
            }
          }
        }
      }
    }
  }


  //.nav-content {
  //  .container {
  //    flex-wrap: wrap;
  //    padding-top: 0 !important;
  //
  //    .left, .right {
  //
  //      margin-left 0 !important;
  //      max-width 100% !important;
  //      margin-top 20px;
  //      width 100% !important;
  //
  //    }
  //
  //  }
  //}
  .contentDetail {
    .left {
      display none;
    }


  }

  .contentList {
    .img-list {
      li {
        //  小于991px的时候，为两列
        //使用calc计算宽度，小于578px的时候，为一列，否则为两列
        width: 50% !important;
      }
    }
  }
}

